
html,
body {
     background-color: #e5e9b9;
}

h1 {
    font-family: 'Lucida Sans';
    text-align: center;
    color: #2d2600ce;
    font-size: 40px;
    
}

.pure-g {
    margin-bottom: 40px;
}

h3 {
    font-family: 'Lucida Sans';
    text-align: center;
    color: #2d2600ce;
    font-size: 20px;
   
}

#cheese_type {
    font-family: 'Lucida Sans';
    width: 50%;
    height: 50%;
}

#high_bar_chart {
    width: 90%;
    height: 90%;
}

#low_bar_chart {
    width: 90%;
    height: 90%;
}

#acetic_chart {
    width: 50%;
    height: 50%;
}

#H2S_chart {
    width: 50%;
    height: 50%;
}

#lactic_chart {
    width: 50%;
    height: 50%;
}

#milk_consumption_map {
	top:50px;
	bottom: 50px; 
	left: 50px;
	right: 50px;
}



p {
    color: #000000ce;
    font-family: 'Lucida Sans';
    font-size: 16px;    
}



#text_div {
    margin-left: 10px;
    margin-right: 10px;
}


